<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<Properties>
		<property name="log_pattern">[%-5p][%d] %l => %m%n</property>
		<property name="file_name">logs/lollipop.log</property>
		<property name="every_file_size">10M</property><!-- 日志切割的最小单位 -->
		<property name="output_log_level">trace</property><!-- 日志输出级别 -->
	</Properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
			<ThresholdFilter level="trace" onMatch="ACCEPT"
				onMismatch="DENY" />
			<!--这个都知道是输出日志的格式 -->
			<PatternLayout pattern="${log_pattern}" />
		</Console>
	</appenders>
	<loggers>
		<logger name="com.rabbitframework" level="trace" />
		<logger name="org.springframework" level="info" />
		<logger name="com.yile.learning" level="trace" />
		<logger name="com.rabbitframework.commons" level="info" />
		<logger name="com.mchange.v2" level="info" />
		<root level="trace">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>